<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login but also register basically</h1>
    <% if(typeof message !== 'undefined') { %>
        <%= message %>
    <% } %>
    <form action="/auth" method="POST">
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <input type="submit" value="GET ME IN">
    </form>
</body>
</html>